include README.md
include LICENSE

recursive-include aa_discord_voicesnapshot/templates *
recursive-include aa_discord_voicesnapshot/static *
recursive-include aa_discord_voicesnapshot/migrations *
recursive-include aa_discord_voicesnapshot *.py
