include README.md
include LICENSE

recursive-include discordvoice_snapshots/templates *
recursive-include discordvoice_snapshots/static *
recursive-include discordvoice_snapshots/migrations *
recursive-include discordvoice_snapshots *.py
